In [1]:
import pandas as pd
from function import df_from_db

In [4]:
filter = {"XP Gain": {"$lt": 10000}}
fields = ["XP Gain", "Balance", "Hunt"]
df = df_from_db("sessions", filter=filter, fields=fields)

In [5]:
df

                        _id  XP Gain  Balance          Hunt
0  645e1ded23b02b2da833cc8d        0      -90           NaN
1  645e1ded23b02b2da833cc97     1170      551
2  645e1ded23b02b2da833ccc8 -5786303   325269     souleater
3  645e1ded23b02b2da833cc7f     5768    -2052  island troll
4  645e1ded23b02b2da833cc8b -5825077    48999  roaring lion
5  645e1ded23b02b2da833cca7 -7405725   118819           NaN